.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.container {
  margin-top: 10px;
  margin-left: 100px;
  margin-right: 100px;
  flex-direction: column;
}

.contentContainer {
  background-color: #f2f4ed;
  padding-top: 1px;
  padding-bottom: 1px;
  flex-direction: column;
}

.listContainer {

}

.list {

}

.listItem {
  margin: 5px 0;
  font-size: 15px;
}

.newsLink {
  text-decoration: none;
  color: black;
}

.hostnameLink {
  text-decoration: none;
  color: #555555;
  font-size: 12px;
}

.details {
  margin: 2px 0;
  font-size: 9px;
  font-weight: 500;
  color: #555555;
}

.moreLink {
  text-decoration: none;
}

.more {
  margin-right: auto;
  margin-left: 40px;
  font-size: 15px;
  color: #999999;
}

